/*------------------NAVBAR------------------*/

ul {
    list-style-type: none;
    margin: 0;
}

il {
    list-style-type: none;
}

.NavigationBar {
    position: fixed;
    background-color: #525252;
    width: 100%;
    height: 75px;
    z-index: 1;
}

.Nav-Logo {
    width: 100px;
    height: 60px;
}

.nav-item {
    text-align: center;
    font-family: "Exo", Sans-serif;
    Font-weight: 500;
    font-size: 24px;
    letter-spacing: 2px
}

.nav-link {
    color: #fafafa;
}

.nav-align {
    padding-top: 12px;
}

/*------------------NAVBAR------------------*/

/*------------------HOMEPAGE------------------*/

.Photo-backdrop {
    height: 100vh;
    background: url(../Images/BackgroundHGS.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -2;
}

.Home-Callout {
    padding-top: 10%;
    padding-left: 20%;
}

.Home-Services-Prompt {
    color: blue;
}

.opague-overlay {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.5);
    
}
    
/*------------------HOMEPAGE------------------*/

/*------------------STYLES------------------*/

h1 {
    font-family: "Exo", Sans-serif;
    Font-weight: 400;
    Font-size: 48px;
    Color: #fafafa;
}

h5 {
    font-family: "Exo", Sans-serif;
    font-size: 8px;
    color: #fafafa;
    padding-top: 15px;
    margin: 0;
}

p {
    font-family: "Livvic", Sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #fafafa;
}

/*------------------STYLES------------------*/

/*------------------FOOTER------------------*/

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 40px;
    margin: 0;
    bottom: 0;
}

/*------------------FOOTER------------------*/

/*------------------BOOTSTRAP------------------*/

.row {
    margin: 0;
}

/*------------------BOOTSTRAP------------------*/
