/*------------------NAVBAR------------------*/

Body,
html {
    Margin: 0;
    Height: 100%;
    line-height: none;
}

.Navigationbar {
    padding: 0;
}

.TopNav {
    margin: 0;
    padding-top: 0px;
    background-color: #525252;
    width: 100%;
    width: 100vw;

}

.BottomNav {
    border-top: solid;
    border-color: #10582d;
    border-width: 1px;
    background-color: #636363;
    padding: 0px;
    width: 100%;
}

.NavLogo {
    width: 134px;
    height: 75px;
    float: left;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.NavTele {
    float: right;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fafafa;
    font-family: "Livvic", sans-serif;
    font-weight: 100;
}

.fa-phone {
    color: #fafafa;
    background-color: #10582d;
    border: solid;
    padding: 3px;
    border-color: #fafafa;
    border-radius: 25%;
    border-width: 3px;
    margin-top: 20px;
}

.nav-link {
    color: #fafafa;
    font-family: "Exo", sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-toggler {
    border: none;
}

.mr-4 {
    text-align: center;
    margin-right: 0rem!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fafafa;
}

.nav-text {
    color: #fafafa;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}

.nav-text:hover {
    color: #72b844!important;
}

/*------------------NAVBAR------------------*/

/*------------------NAVBAR-MEDIAQUERIES------------------*/

@media (max-width:767px) {
    .MediaLogo {
        display: flex!important;
        justify-content: center!important;
    }
    .MediaTele {
        display: flex!important;
        justify-content: center!important;
    }
    .NavLogo {
        margin-left: 0;
        margin-right: 0;
        width: 86px;
        height: 48px;
    }
    .NavTele {
        margin: 0 0 5px 0;
        font-size: 18px;

    }
    .fa-phone {
        margin-top: 0;
    }
    .navbar-dark .navbar-toggler {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


/*------------------NAVBAR-MEDIAQUERIES------------------*/

/*------------------FOOTER------------------*/

.FooterBar {
    border-top: solid;
    border-color: #10582d;
    border-width: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #525252;
    height: 70px;
}

.FooterText {
    text-align: center;
    color: #fafafa;
    padding: 20px 0 0 0;
    font-family: "livvic", Sans-serif;
    font-weight: 200;
    font-size: 16px;
}

.FooterFixed {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer,
.push {
  height: 50px;
}
/*------------------FOOTER------------------*/

/*------------------FOOTER MEDIAQUERIES------------------*/

@media (max-width:575px) {
    .FooterText {
        font-size: 12px;
        padding: 0;
        margin: 4px 0 0 0;
    }
}

@media (max-width:1024px) {
    .FooterText {
        padding: 22px 0 0 0;
    }
}



@media (max-width:490px) {
    .FooterText {
        padding: 7px 0 0 0;
        margin: 0;
    }
}

/*------------------FOOTER MEDIAQUERIES------------------*/

/*------------------STYLE REMOVER------------------*/

p {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

/*------------------STYLE REMOVER------------------*/

/*------------------HOMEPAGE------------------*/

/*------------------BODY------------------*/

/*------------------CALLOUT------------------*/

.HomeBodyImage {
    height: 80vh;
    background: url(../Images/BackgroundHGS.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.opague-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.HomeCont2 {
    padding-top: 150px;
}

.HomeCallout {
    position: absolute;
    text-align: center;
    margin-top: 200px;
    color: #fafafa;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

/*------------------CALLOUT------------------*/

/*------------------FEATURES/HOME------------------*/

.FeatureServices {
    position: relative;
    height: 11%;
    width: 100%;
    background-color: #525252;
    border-top: solid;
    border-color: #10582d;
    border-width: 2px;
}

.HomeServiceCol {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.ServiceHomeTitle {
    text-align: center;
    color: #fafafa;
    font-family: "Exo", Sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 3px;
}

.ServiceHomeSubtitle {
    text-align: center;
    color: #fafafa;
    font-family: "Exo", Sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.ServiceHomeLink {
    font-family: "Exo", Sans-serif;
    font-weight: 600;
    color: #fafafa;
    background-color: #72b844;
    border: none;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}

.ServiceHomeLink:hover {
    background-color: #fafafa;
    color: #72b844;
}

/*------------------FEATURES/HOME QUERIES------------------*/

@media (max-width:991px) {

    .FeatureServices {
        height: 11%;
    }
}


@media (max-width:767px) {
    .FeatureServices {
        height: 200px;
    }
    .HomeServiceCol {
        padding: 0 0 10px 0;
    }
}

/*------------------FEATURES/HOME QUERIES------------------*/

/*------------------FEATURES/HOME------------------*/

/*------------------QUOTES------------------*/

.Quotes {
    border-top: solid;
    border-color: #10582d;
    border-width: 2px;
}

.QuoteSpace1 {
    padding-top: 15px;
    white-space: normal;
    height: 100%;
    font-family: "Exo", sans-serif;
    font-weight: 400;
}

.QuoteSpace2 {
    padding-top: 15px;
    white-space: normal;
    height: 100%;
    font-family: "Exo", sans-serif;
    font-weight: 300;
}

.QuoteHome {
    border-top: solid;
    border-color: #10582d;
    border-width: 2px;
    position: relative;
    background-color: #72b844;
}

.QuotesBox {
    display: inline-block;
    text-align: center;
    font-family: "Kalam", sans-serif;
    font-weight: 500;
    color: #fafafa;
    padding-top: 12px;
    padding-bottom: 12px;
}

.QuotesText {
    padding-top: 5px;
}

/*------------------QUOTES------------------*/

/*------------------QUOTES-MEDIAQUERIES------------------*/

@media (max-width:767px) {
    .QuoteSpace {
        padding-top: 15px;
        white-space: normal;
        height: 100%;
        font-family: "Exo", sans-serif;
        font-weight: 500;
        font-size: 25px;
    }

    .HomeBodyImage {
        height: 73vh;
    }

    .opague-overlay {
        height: 100%;
    }
    .HomeCont2 {
        padding-top: 40px;
    }

    .QuotesBox {
        display: inline-block;
        text-align: center;
        font-family: "Kalam", sans-serif;
        font-weight: 500;
        color: #fafafa;
        padding-top: 26px;
        padding-bottom: 5px;
    }
}

@media (max-width:575px) {
    .HomeBodyImage {
        height: 70vh;
    }

    .HomeCallout {
        margin-top: 170px;
    }

    .QuoteSpace {
        padding-top: 10px;
    }
    .QuoteSpace2 {
        font-size: 15px;
    }
    .QuoteSpace1 {
        font-size: 22px;
    }
}

@media (max-width:320px) {
    .QuoteSpace1 {
        padding-top: 0px;
    }
    .QuoteSpace2 {
        padding-top: 5px;
    }
    .HomeCallout {
        margin-top: 150px;
    }
}

/*------------------QUOTES-MEDIAQUERIES------------------*/

/*------------------BODY------------------*/

/*------------------HOMEPAGE------------------*/

/*------------------CONTACT------------------*/

.ContactContent {
    position: relative;
    padding-top: 135px;
    text-align: center;
    background-color: #737373;
    color: #fafafa;
    font-family: "Livvic", Sans-Serif;
    font-weight: 200;
}

.ContactBodyImage {
    height: 80vh;
    background: url(../Images/BackgroundContact.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.fa-facebook {
    background-color: #fafafa;
    color: #72b844;
    border-radius: 50%;
}

.ContactTitle {
    font-family: "Exo", Sans-serif;
    font-weight: 400;
}

.CalloutContact {
    padding: 5px 0;
}

.ContactFacebook {
    padding: 5px 0;
}

.ContactEmail {
    padding: 5px 0;
}

.ContactMobile {
    padding: 5px 0;
}

.ContactDivider {
    width: 30px;
    height: 5px;
    border: 0;
    background-color: #72b844;
}

.table th {
    padding: 0;
    color: #fafafa;
}

.table td,
.table th {
    padding: 0;
    border-top: 1px solid #72b844;
    color: #fafafa;
    font-family: "Exo", Sans-Serif;
    font-weight: 200;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 0;
}

.EmailHighlight {
    font-size: 24px;
    font-weight: 400;
}

.NumberHighlight {
    font-size: 24px;
    font-weight: 400;
    color: #fafafa;
}

.NumberHighlight:hover {
    color: #72b844;
    text-decoration: none;
}

/*------------------CONTACT-MEDIAQUERIES------------------*/

@media (min-width:991px) {}

@media (min-width:320px) {}

@media (min-width:490px) {}

/*------------------CONTACT-MEDIAQUERIES------------------*/

/*------------------CONTACT------------------*/
